.navbar {
  background-color: #1e1e1e;
  padding: 10px 20px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #00bcd4;
}

.user-name {
  margin-left: auto;
  font-weight: bold;
  color: #f0a500;
}

.card {
  box-shadow: 1px 2px black;
  border-radius: 15px;
  background-color: antiquewhite;
  height: 100px;
  width: 600px;
}



